<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kodluyoruz.com.bartinkesif">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".detayActivity"
            android:label="Bartın ve Tarihi"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".ilceler.Anasayfa">
            <!--android:label="Bar Var Gelsene"-->
            <!--android:theme="@style/AppTheme">-->

        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity
            android:name=".ilceler.Merkez"/>


        <activity
            android:name=".ilceler.Amasra"/>

        <activity
            android:name=".ilceler.Kurucasile"/>
        <activity
            android:name=".ilceler.Ulus"/>

     </application>

</manifest>
