<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kodluyoruz.com.bartinkesif">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".Fragment.Anasayfa">

        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity
            android:name=".Fragment.Merkez"/>


        <activity
            android:name=".Fragment.Amasra"/>

        <activity
            android:name=".Fragment.Kurucasile"/>
        <activity
            android:name=".Fragment.Ulus"/>
        <activity
            android:name=".Fragment.Antik"/>

        <activity
            android:name=".Fragment.Kuskayasi"/>
        <activity
            android:name=".Fragment.DirekliKaya"/>

        <activity
            android:name=".Fragment.Ulukaya"/>

        <activity
            android:name=".Fragment.Golderesi"/>
        <activity
            android:name=".Fragment.Aksu"/>
     </application>

</manifest>
